@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="container giris">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <img src="~/content/images/logo/400x400.png" width="20%">
            </div>
            <div class="col-lg-12 login-title">
                Şifre Sıfırlama
            </div>
            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <div class="form-group">
                        <label class="form-control-label">KULLANICI ADI</label>
                        <input type="email" class="form-control" placeholder="E-mail" id="Email" required>
                    </div>
                    <div class="form-group code d-none">
                        <label class="form-control-label">Güvenlik Codu</label>
                        <input class="form-control" type="password" name="Code" id="securityCode" required>
                    </div>

                    <div class="col-lg-12 loginbttm">
                        <div class="col-lg-6 login-btm login-button gonder">
                            <button type="submit" class="btn btn-outline-primary" onclick="code()">Gönder</button>
                        </div>
                        <div class="col-lg-6 login-btm login-text code d-none">
                            <button type="submit" class="btn btn-primary" onclick="reset()">Şifremi Sıfırla</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>



<script>
    function code() {
        let email = $('#Email').val();

        $.ajax({
            type: 'POST',
            url: '/Password/ForgotPassword?email=' + email,
            success: function (result) {
                if (result.status == 200) {
                    $.ajax({
                        type: 'GET',
                        url: '/Password/SecurityCode',
                        success: function (result) {
                            if (result.status == 200) {
                                Swal.fire(
                                    'Bilgilendirme!',
                                    'Mail adresinize tek kullanımlık şifre gönderildi!" ',
                                    'success'
                                )
                                let codes = document.querySelectorAll(".code");
                                document.querySelector(".gonder").classList.add("d-none");
                                codes.forEach(item => {
                                    item.classList.remove("d-none");
                                });
                            }
                        }
                    });
                } else {
                    Swal.fire(
                        'Bilgilendirme!',
                        'Mail adresinize tek kullanımlık şifre gönderildi!" ',
                        'success'
                    )
                }
            }
        });
    }
</script>

<script>
    function reset() {
        let code = $('#securityCode').val();
        $.ajax({
            type: 'GET',
            url: '/Password/PasswordReset?code=' + code,
            success: function (result) {
                if (result.status == 200) {
                    location.href = "/Password/ChangePassword"
                }
                else {
                    Swal.fire(
                        'Dikkat!',
                        'Güvenlik Kodu hatalı!',
                        'warning'
                    )
                }
            }
        })
    }
</script>
