@model UserModel

<div class="product-detail">
    <div class="pdetail-baslik">Adı</div>
    <div>@Model.FirstName</div>
    <div class="pdetail-baslik">Soyadı</div>
    <div>@Model.LastName</div>
    <div class="pdetail-baslik">Mail</div>
    <div>@Model.Email</div>
    <div class="pdetail-baslik">Gönderdiği Teklifler</div>
    <div></div>
    <div class="pdetail-baslik">Onaylanan Teklifler</div>
    <div></div>
    <div class="pdetail-baslik">Onaylanmayan Teklifler</div>
    <div></div>
    <div class="pdetail-baslik">Açıkta Bekleyen Teklifler</div>
    <div></div>
    <div class="pdetail-baslik">İşlemler</div>
    <div></div>
</div>
