@model CustomerViewModel

<div class="product-detail">
    <div class="pdetail-baslik">Firma Adı</div>
    <div>@Model.Company.Name</div>
    <div class="pdetail-baslik">Firma Yetkilisi</div>
    <div>@Model.ContactName</div>
    <div class="pdetail-baslik">Mail</div>
    <div>@Model.Email</div>
    <div class="pdetail-baslik">Gönderdiği Teklifler</div>
    <div></div>
    <div class="pdetail-baslik">Onaylanan Teklifler</div>
    <div></div>
    <div class="pdetail-baslik">Onaylanmayan Teklifler</div>
    <div></div>
    <div class="pdetail-baslik">Açıkta Bekleyen Teklifler</div>
    <div></div>
</div>
